/* Document */

body {
	font-size: 16px;
	line-height: 20px;
	color: #000;
	background-color: #FFF;
	}

a:link {	
	color: #00F; 
	text-decoration: none; 
	}

a:visited {
	color: #00F; 
	}

a:hover {
	color: #000; 
	}
	
a:active { 
	color: #FFF; 
	}


/* Fonts */

.times {
	font-family: "Times New Roman", Times, serif; 
	}

.comicsans {
	font-family: "Comic Sans", "Comic Sans MS", cursive;
	}

.tahoma {
	font-family: "Tahoma", Geneva, sans-serif;
	}

.helvetica {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	}

.monaco {
        font-family: Monaco, "Lucida Console", monospace;
        }

.big {
        font-size: 26px;
        line-height: 26px;
        }


/* Containers */

.englishContainer {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index:99;
	}

.arabicContainer {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index:99;
	}

.englishMainContainer {
	/* wraps menu, left, right */
	position: absolute;
	top: 42px;
	left: 0px;
	width: 98%;
	}	

.arabicMainContainer {
	/* wraps menu, left, right */
	position: absolute;
	top: 42px;
	right: 0px;
	width: 98%;
	}	

.englishMenuContainer {
	position: relative;
	left: 20px;
	z-index: 99;
	}

.arabicMenuContainer {
	position: relative;
	right: 20px;
	z-index: 99;
	}	

.leftContainer {
	position: absolute;
	left: 20px;
	width: 50%;
	}	

.rightContainer {
	position: absolute;
	right: 20px;
	width: 50%;
	}	

.middleContainer {
	position: absolute;
	top: 50%;
	left: 50%;
 	/* margin-top: -240px; */
	/* margin-left: -426px; */
	width: 853px;
	height: 480px;
	}	

.topleftContainer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50%;
	height: 50%;
	}	

.toprightContainer {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 50%;
	height: 50%;
	}	

.bottomleftContainer {
	position: absolute;
	top: 50%;
	left: 0px;
	width: 50%;
	height: 50%;
	}	

.bottomrightContainer {
	position: absolute;
	top: 50%;
	right: 0px;
	width: 50%;
	height: 50%;
	}	
		
.bottomleftcornerContainer {
	position: fixed;
	left: 20px;
	bottom: 48px;
	}	

.bottomrightcornerContainer {
	position: fixed;
	right: 20px;
	bottom: 10px;
	}	

.innerContainerCentered {
	position: absolute;
	left:35%;
	top:50%;
	width:50%;
	}

.timeContainer {
	position: fixed;
	text-align: left;
	height: 36px;
	width: 300px;
	/* background-color: #FFA; */
	}

.imageContainer {
	padding-top: 100px;
	padding-right: 100px;
	padding-bottom: 100px;
	padding-left: 140px;
	}
	
	
/* Navigation */

.active {
	margin-left: -40px;
	}

.active a {
	color:#000;
	}

.active a:hover {
	color:#FC0;
	}

.active a:active {
	color:#FFF;
	}

.static {
	margin-left: -40px;
	}
	
.static a {
	color:#FC0;
	}

.static a:hover {
	color:#000;
	}

.static a:active {
	color:#FFF;
	}


/* Utility */

.green{
	color:#0C0;
	}

.green a {
	color:#0C0;
	}

.green {
	color:#0A0;
	}
